* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px 10px;
}

/*헤더*/
#top_header {
    grid-column: 1 / -1;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.left-section {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 50px;
    margin-right: 20px;
    padding-bottom: 12px;
}
header h1 a {
    text-decoration: none;
    color: white;
}

#record {
    list-style: none;
    display: flex;
}

#record li {
    margin-right: 18px;
}

#record a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#record a:hover {
    text-decoration: underline;
}
.right-section {
    display: flex;
    align-items: center;
}

#navi {
    list-style: none;
    display: flex;
}

#navi li {
    margin-left: 15px;
}

#navi a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#navi a:hover {
    text-decoration: underline;
}

.search-box { 
    height: 33px;
    width: 250px;
    background-color: white;
    border-radius: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.search-txt {
    border: none;
    background-color: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #797979;
    font-size: 12px;
    width: 200px;
}
.search-btn {
    width: 40px;
    height: 30px;
    color: #797979;
    cursor: pointer;
    font-size: 12px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section_mainhomepage*/
section {
    grid-column: 1/-1;
    background-color: #e7e5e5;
}
#section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    padding: 20px;
}
.poster {
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster figure {
    margin: 0;
}
.poster img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 300px;
}

/*section movieinfo*/
#info {
    width: 100%;
    display: flex;
    justify-content: center;
}
#basic {
    width: 100%;
    position: relative;
    margin: 10px;
}
#basic img {
    width: 100%;
    height: auto;
    display: block;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
#overlay-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #333;
    padding: 10px;
    font-size: 16px;
}
#plot {
    font-size: smaller;
    color: #565656;
}
#basic_info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
#pos, #character, #score {
    flex: 1;
}
#pos {
    display: flex;
    justify-content: flex-start;
}
#pos img {
    width: 300px;
    height: auto;
}
#charac_pic {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 10px;
}
.charac_pic {
    margin: 0;
}
#character img {
    width: 125px;
    height: auto;
}
.name {
    color: #333;
}
.role {
    color: #565656;
    font-size: small;
}
#detail {
    font-size: smaller;
    color: #565656;
    text-decoration: none;
}
#detail:hover {
    text-decoration: underline;
}
#score {
    width: 100%;
    height: auto;
    text-align: left;
}
#give_score {
    margin-bottom: 20px;
}
#rating p {
    cursor: pointer;
    color: #565656;
    font-size: smaller;
}
#rating p:hover {
    text-decoration: underline;
}
#star {
    text-align: center;
    position: relative;
}
#star img {
    width: 300px;
    height: auto;
}
#rating_score {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 30px;
    font-weight: bold;
}

/*section characinfo*/
#back {
    padding: 10px;
}
.back-btn {
    background-color: #e7e5e5;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
#article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 30px;
}
.card {
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.2);
    background-color: #f8f8f8;
}
.card #content {
    display: flex;
    align-items: center;
}
.card figure {
    margin: 20px; /*이미지 텍스트 간격 조정*/
}
.card h3 {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 25px;
}
.card p {
    padding: 10px;
    margin: 0;
}
#content p {
    padding-right: 25px;
}
.card header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#content figure img {
    width: 150px;
    height: auto;
}

/*section login*/
#login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#loginbox {
    background-color: #f8f8f8;
    width: 600px;
    height: 350px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#login h1 {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 70px;
    color: #333;
}
.loginbox {
    margin-bottom: 10px;
}
.id, .password {
    width: 500px;
    height: 40px;
    font-size: large;
    padding-left: 10px;
    border: none;
    background-color: #e7e5e5;
}
#submit {
    border-radius: 10px;
    width: 500px;
    height: 40px;
    font-size: large;
    margin-top: 20px;
    border: none;
    background-color: #333;
    color: #e7e5e5;
}


/*footer*/
footer {
    grid-column: 1 / -1;
    background-color: #333;
}
#foot ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#foot ul li {
    list-style: none;
    font-size: small;
}
#foot ul li a {
    text-decoration: none;
    color: white;
}
#foot ul li a:hover {
    text-decoration: underline;
}